# Лабораторная работа 3. Проверка качества данных.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date, datetime

## Задание 1: Проверка целостности данных.
Используйте набор данных о продажах и проверьте, заполнены ли все необходимые поля. Если обнаружены пропущенные значения, определите, какой процент они составляют от общего количества данных
 
Набор данных для использования: "Online Retail" на Kaggle. Этот набор данных представляет собой транзакции, произошедшие в период с декабря 2010 по октябре 2011 года и зарегистрированные розничной компанией из Великобритании.
Ссылка: https://www.kaggle.com/mashlyn/online-retail-ii-uci

In [4]:
df_retail = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/online_retail_II.csv')

In [5]:
df_retail.head()
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

Как можно заметить из общей информации о датасете, в столбцах Customer ID и Desctiprion общее число не пустых значений меньше, чем в остальных. 

Для достоверности посчитаем количество пустых полей в каждом из столбцов

In [7]:
for a in df_retail.columns:
    print(f'Пустых полей в колонке {a}: {df_retail[a].isna().sum()}')

Пустых полей в колонке Invoice: 0
Пустых полей в колонке StockCode: 0
Пустых полей в колонке Description: 4382
Пустых полей в колонке Quantity: 0
Пустых полей в колонке InvoiceDate: 0
Пустых полей в колонке Price: 0
Пустых полей в колонке Customer ID: 243007
Пустых полей в колонке Country: 0

Отсюда действительно видно, что в столбцах Description и Customer ID есть некотоорое число пустых полей. 

Для определения того, какой процент они составляют от общей массы, просто разделим количестов пустых полей на общее число данных.

In [9]:
for a in df_retail.columns:
    if any(df_retail[a].isna()):
        print(f'Пустые поля в {a} составляют {df_retail[a].isna().sum()/df_retail[a].count() * 100}%')

Пустые поля в Description составляют 0.4122338048653373%
Пустые поля в Customer ID составляют 29.478118889228544%

Таким образом, 0.41% описаний является пустым и ~29% айди также пусты.

## Задание 2. Проверка консистентности данных.

Рассмотрите набор данных о климате и проверьте, соблюдаются ли форматы дат во всех записях. 

Набор данных для использования: "Climate Change: Earth Surface Temperature Data" на Kaggle. 
Ссылка: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [48]:
df_temperatures = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/GlobalTemperatures.csv')

In [50]:
df_temperatures.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [66]:
def format(df):
    list = []
    
    for a in df['dt']:
        if not (datetime.strptime(a, '%Y-%M-%d')):
            list.append('Wrong format')
        else:
            list.append('Correct format')
    df['format'] = list

format(df_temperatures)

df_temperatures['format'].value_counts()

format
Correct format    3192
Name: count, dtype: int64

Все даты в предложенном датасете удовлетворяют формату ГГ-ММ-ДД.

## Задание 3. Проверка актуальности данных.

Анализируя набор данных о твитах, проверьте даты публикации твитов и определите, какие из них актуальны на текущий момент.

Набор данных для использования: "COVID19 Tweets" на Kaggle, включающий твиты о пандемии COVID-19.
Ссылка: https://www.kaggle.com/gpreda/covid19-twees

In [13]:
df_covid = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/covid19_tweets.csv')

In [14]:
df_covid.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

Для проверки актуальности твита нас интересует только дата, поэтому в столбце date отрежем время публикации.

In [16]:
df_covid['date'] = [datetime.strptime(a, "%Y-%m-%d %H:%M:%S").date() for a in df_covid['date']]

Твиты будем считать актуальными, если с момента их публикации до настоящего момента прошло менее 14 дней.

In [42]:
def is_fresh(df):
    today = date.today()
    list = []
    
    for a in df['date']:
        if (today - a).days > 14:
            list.append('Outdated')
        else:
            list.append('Fresh')
    df['Freshness'] = list

is_fresh(df_covid)

df_covid['Freshness'].value_counts()

Freshness
Outdated    179108
Name: count, dtype: int64

Отсюда видим, что все посты были сделаны больше 14 дней назад.

## Задание 4. Проверка полноты данных. 

Рассмотрите набор данных о заболеваемости раком, проанализируйте, приведены ли данные по всем странам или некоторые из них отсутствуют. 

Набор данных для использования: "Global Cancer Statistics 2018 (GLOBOCAN 2018)" на Kaggle.
Ссылка: https://www.kaggle.com/ashkhagan/global-cancer-statistics-2018-globocan-2018