# –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 3. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date, datetime

## –ó–∞–¥–∞–Ω–∏–µ 1: –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö.
–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ª–∏ –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –ø–æ–ª—è. –ï—Å–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–æ–π –ø—Ä–æ—Ü–µ–Ω—Ç –æ–Ω–∏ —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –æ—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö
 
–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Online Retail" –Ω–∞ Kaggle. –≠—Ç–æ—Ç –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏, –ø—Ä–æ–∏–∑–æ—à–µ–¥—à–∏–µ –≤ –ø–µ—Ä–∏–æ–¥ —Å –¥–µ–∫–∞–±—Ä—è 2010 –ø–æ –æ–∫—Ç—è–±—Ä–µ 2011 –≥–æ–¥–∞ –∏ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ —Ä–æ–∑–Ω–∏—á–Ω–æ–π –∫–æ–º–ø–∞–Ω–∏–µ–π –∏–∑ –í–µ–ª–∏–∫–æ–±—Ä–∏—Ç–∞–Ω–∏–∏.
–°—Å—ã–ª–∫–∞: https://www.kaggle.com/mashlyn/online-retail-ii-uci

In [4]:
df_retail = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/online_retail_II.csv')

In [5]:
df_retail.head()
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

–ö–∞–∫ –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å –∏–∑ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Å–µ—Ç–µ, –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö Customer ID –∏ Desctiprion –æ–±—â–µ–µ —á–∏—Å–ª–æ –Ω–µ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –º–µ–Ω—å—à–µ, —á–µ–º –≤ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö. 

–î–ª—è –¥–æ—Å—Ç–æ–≤–µ—Ä–Ω–æ—Å—Ç–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–∞–∂–¥–æ–º –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤

In [7]:
for a in df_retail.columns:
    print(f'–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ {a}: {df_retail[a].isna().sum()}')

–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Invoice: 0
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ StockCode: 0
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Description: 4382
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Quantity: 0
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ InvoiceDate: 0
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Price: 0
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Customer ID: 243007
–ü—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –≤ –∫–æ–ª–æ–Ω–∫–µ Country: 0

–û—Ç—Å—é–¥–∞ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –≤–∏–¥–Ω–æ, —á—Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö Description –∏ Customer ID –µ—Å—Ç—å –Ω–µ–∫–æ—Ç–æ–æ—Ä–æ–µ —á–∏—Å–ª–æ –ø—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π. 

–î–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Ç–æ–≥–æ, –∫–∞–∫–æ–π –ø—Ä–æ—Ü–µ–Ω—Ç –æ–Ω–∏ —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –æ—Ç –æ–±—â–µ–π –º–∞—Å—Å—ã, –ø—Ä–æ—Å—Ç–æ —Ä–∞–∑–¥–µ–ª–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–æ–≤ –ø—É—Å—Ç—ã—Ö –ø–æ–ª–µ–π –Ω–∞ –æ–±—â–µ–µ —á–∏—Å–ª–æ –¥–∞–Ω–Ω—ã—Ö.

In [9]:
for a in df_retail.columns:
    if any(df_retail[a].isna()):
        print(f'–ü—É—Å—Ç—ã–µ –ø–æ–ª—è –≤ {a} —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç {df_retail[a].isna().sum()/df_retail[a].count() * 100}%')

–ü—É—Å—Ç—ã–µ –ø–æ–ª—è –≤ Description —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç 0.4122338048653373%
–ü—É—Å—Ç—ã–µ –ø–æ–ª—è –≤ Customer ID —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç 29.478118889228544%

–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, 0.41% –æ–ø–∏—Å–∞–Ω–∏–π —è–≤–ª—è–µ—Ç—Å—è –ø—É—Å—Ç—ã–º –∏ ~29% –∞–π–¥–∏ —Ç–∞–∫–∂–µ –ø—É—Å—Ç—ã.

## –ó–∞–¥–∞–Ω–∏–µ 2. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–æ–Ω—Å–∏—Å—Ç–µ–Ω—Ç–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö.

–†–∞—Å—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –∫–ª–∏–º–∞—Ç–µ –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å–æ–±–ª—é–¥–∞—é—Ç—Å—è –ª–∏ —Ñ–æ—Ä–º–∞—Ç—ã –¥–∞—Ç –≤–æ –≤—Å–µ—Ö –∑–∞–ø–∏—Å—è—Ö. 

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Climate Change: Earth Surface Temperature Data" –Ω–∞ Kaggle. 
–°—Å—ã–ª–∫–∞: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [48]:
df_temperatures = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/GlobalTemperatures.csv')

In [50]:
df_temperatures.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [66]:
def format(df):
    list = []
    
    for a in df['dt']:
        if not (datetime.strptime(a, '%Y-%M-%d')):
            list.append('Wrong format')
        else:
            list.append('Correct format')
    df['format'] = list

format(df_temperatures)

df_temperatures['format'].value_counts()

format
Correct format    3192
Name: count, dtype: int64

–í—Å–µ –¥–∞—Ç—ã –≤ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä—è—é—Ç —Ñ–æ—Ä–º–∞—Ç—É –ì–ì-–ú–ú-–î–î.

## –ó–∞–¥–∞–Ω–∏–µ 3. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∞–∫—Ç—É–∞–ª—å–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö.

–ê–Ω–∞–ª–∏–∑–∏—Ä—É—è –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ç–≤–∏—Ç–∞—Ö, –ø—Ä–æ–≤–µ—Ä—å—Ç–µ –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ —Ç–≤–∏—Ç–æ–≤ –∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–∏–µ –∏–∑ –Ω–∏—Ö –∞–∫—Ç—É–∞–ª—å–Ω—ã –Ω–∞ —Ç–µ–∫—É—â–∏–π –º–æ–º–µ–Ω—Ç.

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "COVID19 Tweets" –Ω–∞ Kaggle, –≤–∫–ª—é—á–∞—é—â–∏–π —Ç–≤–∏—Ç—ã –æ –ø–∞–Ω–¥–µ–º–∏–∏ COVID-19.
–°—Å—ã–ª–∫–∞: https://www.kaggle.com/gpreda/covid19-twees

In [13]:
df_covid = pd.read_csv(r'D:/Faculty-of-Applied-Mathematics-and-Computer-Science/Computer Science/Methods and Algorithms of Data Analysis/Laboratory 3/Datasets/covid19_tweets.csv')

In [14]:
df_covid.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

–î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–∫—Ç—É–∞–ª—å–Ω–æ—Å—Ç–∏ —Ç–≤–∏—Ç–∞ –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å—É–µ—Ç —Ç–æ–ª—å–∫–æ –¥–∞—Ç–∞, –ø–æ—ç—Ç–æ–º—É –≤ —Å—Ç–æ–ª–±—Ü–µ date –æ—Ç—Ä–µ–∂–µ–º –≤—Ä–µ–º—è –ø—É–±–ª–∏–∫–∞—Ü–∏–∏.

In [16]:
df_covid['date'] = [datetime.strptime(a, "%Y-%m-%d %H:%M:%S").date() for a in df_covid['date']]

–¢–≤–∏—Ç—ã –±—É–¥–µ–º —Å—á–∏—Ç–∞—Ç—å –∞–∫—Ç—É–∞–ª—å–Ω—ã–º–∏, –µ—Å–ª–∏ —Å –º–æ–º–µ–Ω—Ç–∞ –∏—Ö –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –¥–æ –Ω–∞—Å—Ç–æ—è—â–µ–≥–æ –º–æ–º–µ–Ω—Ç–∞ –ø—Ä–æ—à–ª–æ –º–µ–Ω–µ–µ 14 –¥–Ω–µ–π.

In [42]:
def is_fresh(df):
    today = date.today()
    list = []
    
    for a in df['date']:
        if (today - a).days > 14:
            list.append('Outdated')
        else:
            list.append('Fresh')
    df['Freshness'] = list

is_fresh(df_covid)

df_covid['Freshness'].value_counts()

Freshness
Outdated    179108
Name: count, dtype: int64

–û—Ç—Å—é–¥–∞ –≤–∏–¥–∏–º, —á—Ç–æ –≤—Å–µ –ø–æ—Å—Ç—ã –±—ã–ª–∏ —Å–¥–µ–ª–∞–Ω—ã –±–æ–ª—å—à–µ 14 –¥–Ω–µ–π –Ω–∞–∑–∞–¥.

## –ó–∞–¥–∞–Ω–∏–µ 4. –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ–ª–Ω–æ—Ç—ã –¥–∞–Ω–Ω—ã—Ö. 

–†–∞—Å—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –∑–∞–±–æ–ª–µ–≤–∞–µ–º–æ—Å—Ç–∏ —Ä–∞–∫–æ–º, –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ, –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –ª–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ –≤—Å–µ–º —Å—Ç—Ä–∞–Ω–∞–º –∏–ª–∏ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∏–∑ –Ω–∏—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç. 

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Global Cancer Statistics 2018 (GLOBOCAN 2018)" –Ω–∞ Kaggle.
–°—Å—ã–ª–∫–∞: https://www.kaggle.com/ashkhagan/global-cancer-statistics-2018-globocan-2018