In [2]:
import pandas as pd
import numpy as np

In [3]:
ds = pd.read_excel(r'dataset.xlsx', decimal=',')

df = pd.DataFrame(ds, columns=['X_1', 'X_2', 'X_3', 'X_4', 'X_5', 'X_6', 'X_7', 'X_8', 'X_9', 'Y'])

df

     X_1    X_2    X_3    X_4   X_5   X_6    X_7   X_8   X_9       Y
0   2.97  31.72   1.43   1.45  0.88  1.59  29.00  0.00  2.97  31.980
1   2.98  35.54   1.89    NaN  0.79  1.47  31.63  0.00  2.98  34.620
2   2.78  50.15   2.75   2.79  1.46  2.29  37.41  0.00  2.78  40.210
3   2.93    NaN   4.00   4.19  1.02   NaN  42.14  0.01  2.93  45.090
4   3.40  50.68   5.40   5.89  1.38  1.83  50.58  0.04  3.40  54.020
5   4.08  63.50   7.47   8.34  1.94  2.63  63.52  0.24  4.08  67.840
6   4.27  62.72   8.54   9.53  1.55  2.15    NaN  0.51  4.27  69.290
7   4.40  63.92  10.30  11.39  1.53  2.12  67.70  0.58  4.40  72.700
8    NaN  63.58  13.57  14.61  1.43  2.03  70.32  0.91  4.43  75.710
9   4.77  62.37  13.13  14.30  1.62  2.20  67.91  1.27  4.77  73.990
10  4.72  61.36    NaN  14.03  1.76  2.32  65.35  1.90  4.72  72.000
11  4.77  61.60  15.67  16.76  1.60  2.17    NaN  2.11  4.77  76.010
12  4.25  62.05  18.76  19.96  1.44  2.05  70.99  2.70  4.25  78.000
13  5.04  63.14  17.82  19.11  1.08  1.92  71.86  3.02  5.04  79.990
14  5.17  65.95  17.93  19.46  1.75  2.86  72.89  2.78  5.17  80.900
15  5.49    NaN  14.66  15.80  2.42  3.69  69.98  2.74  5.49  78.290
16  5.47  67.01  12.64  13.72  2.94  4.31  67.75  3.01  5.47  76.340
17  5.99  66.57  10.78  11.86  2.79  4.61  64.04  3.13  5.99  73.250
18  6.49  64.11  10.65  11.75  2.04  3.69  63.29  3.20  6.49  73.100
19  6.43  68.83  11.43  12.47  2.15  3.79  66.62  3.55  6.43  76.740
20  6.03  67.65    NaN  11.78  2.44  4.20  66.22  4.08  6.03  76.470
21  6.13  67.09  13.20    NaN  2.25  4.02  66.15  4.38  6.13  76.780
22  5.69  67.61  14.16  15.40  2.09   NaN  68.63  4.75  5.69  79.230
23  5.49  68.95  15.75  17.30  2.50  4.37  71.66   NaN  5.49  82.840
24  6.29  69.36  17.16  18.77   NaN  4.66  72.02  5.60  6.29  84.960
25  6.13  70.77  17.12  18.82  2.77  4.75  72.46  6.10  6.13  84.700
26  6.16  70.41  16.35  18.33  2.85  5.14  72.00  6.42  6.16  84.640
27  5.91  69.98  16.97  19.37  2.68  4.94  73.52  6.48   NaN  85.990
28  6.16  68.30  18.51  21.27  1.96  4.26  75.05  6.41  6.16  87.622
29  6.06  70.71  19.24  22.39  1.88  4.06  76.48  6.69  6.06  89.280
30  6.67  71.18  18.88  22.26  2.32  4.51  77.49   NaN  6.67  91.250
31   NaN  72.50    NaN  23.70  2.37  4.63  79.98  7.09  7.14  94.260
32  7.08  72.43  21.74  25.22  2.19  4.51  81.09  6.60  7.08  94.660
33  6.56  72.83  22.91  26.58  2.09  4.30  81.59  7.07  6.56  95.190
34  6.60  71.71  23.13  27.25  1.53  3.71  82.65  7.61  6.60  96.840
35  6.16  71.27    NaN  28.97  1.53  4.01  85.96  7.86  6.16  98.960
36  5.33  71.88  25.40  30.16  1.27  3.77   3.18  8.03  5.33  96.470
37  5.84  70.76  24.67  29.41  1.03  3.66   3.99  8.14  5.84  97.880
38  6.08  70.01  26.22    NaN  1.12  4.07   4.49  0.96  6.08  98.310

In [12]:
import pandas as pd
import numpy as np
import pymc3 as pm

# Загрузка данных
data = pd.read_excel('dataset.xlsx')  # Замените 'data.csv' на путь к вашему файлу данных

# Создание копии данных с пропущенными значениями
missing_data = data.copy()

# Определение модели Байесовской многомерной регрессии
with pm.Model() as model:
    # Переменные
    x = pm.Normal('x', mu=0, sd=1, shape=data.shape[1]-1)
    mu = pm.Deterministic('mu', pm.math.dot(x, data.drop('X_4', axis=1).T))
    sigma = pm.HalfCauchy('sigma', beta=10)
    
    # Наблюдения
    sales_observed = pm.Normal('sales_observed', mu=mu, sd=sigma, observed=missing_data['X_4'].dropna())
    
    # Постериорное распределение
    trace = pm.sample(1000, tune=1000)
    
# Заполнение пропущенных значений
missing_indices = missing_data['X_4'].isnull()
missing_data.loc[missing_indices, 'X_4'] = pm.distributions.Deterministic('mu', pm.math.dot(trace['x'].mean(axis=0), missing_data.drop('X_4', axis=1).T)).random()

# Вывод результатов
print(missing_data)

AttributeError: partially initialized module 'theano' has no attribute 'compile' (most likely due to a circular import)

In [8]:
import pymc3

print(theano.__version__)

AttributeError: partially initialized module 'theano' has no attribute 'compile' (most likely due to a circular import)

In [ ]:
plt.figure(figsize=(12,5))
plt.title('Month vs Passenger',fontsize = 20)
plt.ylabel('Total Passengers',fontsize = 20)
plt.xlabel('Months',fontsize = 20)
plt.grid(True)
plt.autoscale(axis='x',tight=True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.plot(flight_data['passengers'])

In [ ]:
df[0:38] = df[0:38].fillna({'X_4':df['X_4'][0:38].median()})

In [ ]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()

X = df['Y'][0:38].values.reshape(-1, 1)
y = df['X_4'][0:38]

clf = clf.fit(X, y)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12,5))
plt.grid(True)
plt.autoscale(axis='x',tight=True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.plot(y)

In [ ]:
y_pred = clf.predict(df['Y'][38].reshape(1,-1))

In [ ]:
from sklearn.model_selection import accuracy_score

scores = accuracy_score(clf, X, y)
scores