In [34]:
import pandas as pd
import numpy as np
from datetime import datetime

In [35]:
df = pd.read_excel(r'data.xlsx')

df.head()

         Дата  Газпром  Лукойл  Роснефть  Сбербанк  Ростелеком
0  28.12.2012   144.31  2005.9    269.51     92.85      119.75
1  27.12.2012   145.00  2014.0    267.86     92.67      118.88
2  26.12.2012   144.90  2018.4    267.18     92.27      118.65
3  25.12.2012   144.54  2014.0    265.29     92.70      118.38
4  24.12.2012   145.24  2016.1    265.59     92.77      119.65

## Задание 1.
Используя имеющиеся данные , найти среднемесячные цены и на их основе оценить ожидаемую доходность от ивестиций сроком на 1 год и ковариационную матрицу. Исследовать будем данные Лукойла.

In [36]:
luk = df['Лукойл']

Рассчитаем среднемесячные цена.

In [37]:
def calculate_avg_monthly_prices(df, company):
    df['Дата'] = pd.to_datetime(df['Дата'])
    df['Год'] = df['Дата'].dt.year
    df['Месяц'] = df['Дата'].dt.month
    avg_prices = df.groupby(['Год', 'Месяц'])[company].mean()

    return avg_prices

In [38]:
avg_prices = calculate_avg_monthly_prices(df, 'Лукойл')

avg_prices

C:\Users\Morzhig\AppData\Local\Temp\ipykernel_4868\2277889588.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Дата'] = pd.to_datetime(df['Дата'])

Год   Месяц
2008  1        1848.640000
      2        1771.580500
      3        1801.030500
      4        2070.314545
      5        2469.745500
      6        2435.684000
      7        2139.203913
      8        1851.392381
      9        1635.366190
      10       1044.066667
      11        916.127222
      12        948.120000
2009  1        1063.086250
      2        1161.625263
      3        1279.632857
      4        1479.020909
      5        1558.094211
      6        1554.533810
      7        1437.131304
      8        1554.060476
      9        1621.228182
      10       1825.734091
      11       1722.073500
      12       1672.219565
2010  1        1701.209333
      2        1597.119474
      3        1639.765455
      4        1713.341364
      5        1471.863158
      6        1646.507143
      7        1638.497727
      8        1666.720455
      9        1714.257273
      10       1752.527143
      11       1739.085714
      12       1769.443182
2011  1        1882.801333
      2        1940.932105
      3        2012.550000
      4        1979.819048
      5        1766.690000
      6        1763.328571
      7        1830.257143
      8        1686.139130
      9        1695.472727
      10       1440.514286
      11       1721.071429
      12       1654.818182
2012  1        1770.528571
      2        1835.395000
      3        1862.476190
      4        1788.361905
      5        1683.486957
      6        1732.010000
      7        1816.240909
      8        1864.478261
      9        1933.770000
      10       1938.626087
      11       1909.085714
      12       1997.815000
Name: Лукойл, dtype: float64

Ожидаемую доходность инвестиций найдем по формуле:
$$E(R_i)=\frac{1}{n}\sum_{j=1}^n R_{j},$$
где
+ $E(R_i) - $ожидаемая доходность для акции $i$;
+ $R_{j} - $доходность компании в период $j$;
+ $n - $количество периодов(например, месяцев).

$$R_j=\frac{P_{новая} - P_{старая}+D}{P_{старая}}\cdot 100\%$$
Рассчитаем $R_j$ для каждого года.

In [41]:
expected_returns = ((avg_prices.groupby('Год').last() - avg_prices.groupby('Год').first()) / avg_prices.groupby('Год').first()) * 100

expected_returns

Год
2008   -48.712567
2009    57.298579
2010     4.010903
2011   -12.108721
2012    12.837208
Name: Лукойл, dtype: float64

In [44]:
cov_matrix = df.pivot_table(index='Год', columns='Месяц', values='Лукойл').pct_change().cov()

print("Ожидаемая доходность на 1 год:")
print(expected_returns)
print("\nКовариационная матрица:")
print(cov_matrix)

Ожидаемая доходность на 1 год:
Год
2008   -48.712567
2009    57.298579
2010     4.010903
2011   -12.108721
2012    12.837208
Name: Лукойл, dtype: float64

Ковариационная матрица:
Месяц        1         2         3         4         5         6         7   \
Месяц
1      0.181153  0.128971  0.104206  0.080877  0.054303  0.070581  0.080298
2      0.128971  0.099741  0.083750  0.066580  0.055003  0.058306  0.064968
3      0.104206  0.083750  0.071675  0.057437  0.050050  0.049287  0.054823
4      0.080877  0.066580  0.057437  0.046348  0.042577  0.040396  0.044510
5      0.054303  0.055003  0.050050  0.042577  0.054421  0.042800  0.043952
6      0.070581  0.058306  0.049287  0.040396  0.042800  0.041391  0.043517
7      0.080298  0.064968  0.054823  0.044510  0.043952  0.043517  0.046517
8      0.035022  0.025942  0.020199  0.016479  0.018203  0.021055  0.021332
9      0.006217  0.001984 -0.000257 -0.000230  0.001098  0.004789  0.004009
10    -0.143521 -0.123961 -0.108663 -0.088778 -0.088886 -0.079117 -0.085857
11    -0.143496 -0.118227 -0.099388 -0.081659 -0.088488 -0.086238 -0.089979
12    -0.120845 -0.104179 -0.089935 -0.074184 -0.080823 -0.073666 -0.077566

Месяц        8         9         10        11        12
Месяц
1      0.035022  0.006217 -0.143521 -0.143496 -0.120845
2      0.025942  0.001984 -0.123961 -0.118227 -0.104179
3      0.020199 -0.000257 -0.108663 -0.099388 -0.089935
4      0.016479 -0.000230 -0.088778 -0.081659 -0.074184
5      0.018203  0.001098 -0.088886 -0.088488 -0.080823
6      0.021055  0.004789 -0.079117 -0.086238 -0.073666
7      0.021332  0.004009 -0.085857 -0.089979 -0.077566
8      0.014052  0.006326 -0.031689 -0.045459 -0.034779
9      0.006326  0.005097  0.000903 -0.011880 -0.005472
10    -0.031689  0.000903  0.173800  0.160432  0.147127
11    -0.045459 -0.011880  0.160432  0.180595  0.152481
12    -0.034779 -0.005472  0.147127  0.152481  0.133771